.circulo {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background: red;
     /* animation-name: MiAnimacion; */
     /* animation-duration: 4s;   */
animation: MiAnimacion 6s ;

}

@keyframes MiAnimacion {
    from {background-color: white;}
    20%{
        background-color: yellow;
    }
    50%{
        background-color: orange;
    }
    75%{
        background-color: rgb(207, 114, 7);
    }
    to {background-color: red;}
}
