/*


font-family: 'Caveat', cursive;
font-family: 'Gemunu Libre', sans-serif;

*/
*{
    margin: auto;
}

header.encabezado{
    background: #34ce15;
background: -moz-linear-gradient(top, #34ce15 0%, #28d0a9 50%, #29acf2 100%);
background: -webkit-linear-gradient(top, #34ce15 0%, #28d0a9 50%, #29acf2 100%);
background: linear-gradient(to bottom, #34ce15 0%, #28d0a9 50%, #29acf2 100%);
border-radius: 4px;
margin: 20px 200px 20px 200px;
}
h1{
    color: blueviolet;
    font-size: 50px;
    font-family: 'Caveat', cursive;
    text-align: center;
}
h1.titulos2{
color: rgb(13, 182, 143);
text-align: left;
font-size: 30px;
}
h2{
    text-decoration-line: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: rgb(17, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 25px;
}
p.copyrigth{
    color: black;
    font-weight: bold;
}
nav{
    border: solid 2px red;
    text-align: center;
    background-color: rgb(92, 234, 94);
}
a.link:hover{
    color: yellow;
    background-color: #010e02;
    transition: background-color .5s;
    

}
div.filtro{
    text-align: center;
    border-radius: 10px;
    border: 5px solid #0eed42;
    height: 400px;
    width: 400px;
}

img.casa{
    border-radius: 5px;
    height:400px  ;
    width: 400px;
    filter: blur(10px) grayscale(100%);
}
img.casa:hover{
    filter: grayscale(100%) sepia(100%);
    
}
div.div{
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-radius: 4px;
    margin: auto
}
footer h3{
    font-size: 50px;
    font-family: 'Caveat', cursive;
}
img.Imagen{
    
    border: 10px solid #ddd;
    padding: 5px;
    width: 150px;
   

}


span.destacados{
    color: rgb(239, 18, 18);
    font-weight: bold;
    font-style: italic;
    font-family: Arial;

}
#caja{
    border-radius: 0px 10px 10px 10px;
    border: 1px solid rgb(255, 1, 242) ;
    margin: 20px 400px;
    text-align: center;
    /*background-color: yellowgreen;*/
    height: 150px;
    width: 600px;
    padding: 10px;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    box-shadow: 13px 17px 12px 2px rgba(248,56,192,0.37) /*10px 10px 10px black;*/
    

}
#caja h2{ 
    text-decoration-line: none;
    text-align: center;
    text-transform: uppercase;

}
#caja p{
    color: #010e02;
}
div.ejemplo{
   padding: 20px 10px;
}
div.ejemplo p{
    font-size: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    color: black;
    background-color: yellowgreen;
    border: 2px solid rgb(5, 5, 5) ;
    column-count: 3;
-webkit-column-count: 3;
-moz-column-count: 3;
column-gap: 20px;
-webkit-column-gap: 20px;
-moz-column-gap: 20px;
column-rule: 3px solid #000000;
-webkit-column-rule: 3px solid #000000;
-moz-column-rule: 3px solid #000000;
}
.lineaH{
    border: 5px solid grey;
    
}
div.pseudo{
    margin: 10px 10px;
    text-align: left;
    
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
}
div.pseudo:hover{
    background-color: #f89b4d;
}

span.pseudoelement{
    
    margin: 10px;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
}

span.pseudoelement::after{
    content: 'despues';
    background-color: red;
}
span.pseudoelement::before{
    content: 'antes';
    background-color: red;
}

