<div class="container" style="margin-top: 50px auto;">
    <div class="row">
       
            <p class="text-end">Bienvenido {{ usuario }}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesi&oacute;n <i class="fas fa-sign-out-alt"></i></a></p>
        
        
    </div>
</div>