.contenedor{
    background-color: #CCC;
    width: 300px;
    height: 300px;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center ;  
    border: 2px solid black;  
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    width: 100px;
    height: 100px;   
    font-size: 30px;
    color: white;
}
.item:first-child{
    background-color: red;
}
.item:nth-child(2){
    background-color: blue;
}
.item:nth-child(3){
    background-color: green;
}